<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Quintessential-stereotyped/LinkED-XML-PR.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="OWL"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="OWL" value="EMF"/>
<mapEntry key="XML" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="OWL" value="METAMODELINPUT"/>
<mapEntry key="XML" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="true"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="true"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="XML"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/Quintessential-stereotyped/Quintessential-Profiled-full-Eclipse.mmowl"/>
<mapEntry key="OUT" value="/Quintessential-stereotyped/Quintessential-Profiled-full-Eclipse.mmxml"/>
<mapEntry key="OWL" value="/Quintessential/owl2.ecore"/>
<mapEntry key="XML" value="/Quintessential/XML.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
